body {
    padding: 16px 0 0 0;
    margin: 0;
    overflow-y: scroll;
}
#duration {
    padding-top: 0px;
}

.jumbotron {
    padding-top: 5px;
    padding-bottom: 5px;
}

.test-data a {
    display: block;
}

h1#frame-title{
	text-align: center;
}

.test-result {
    margin-bottom: 13px;
}

.elements-count {
    display: inline-block;
}

.top-panel{
    margin-bottom: 5px;
}

* { box-sizing:border-box; }
            body { padding:30px 0; }
            h2 { margin:0; margin-bottom:25px; }
            h3 { margin:0; padding:0; margin-bottom:12px; }
            .test-data { margin-bottom:2px; }
            .test-data div { padding:3px 12px; background-color:	#f5f0f0; width:100%; float:left; cursor:pointer; }
            .test-data div:hover { background-color: #e6e3e3; }
            .score { font-weight:bold; font-size: 18px; height:24px; line-height:24px; vertical-align:middle; display:inline-block;}


.selItem div{
    background-color: #ccb3b3;
}